* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #00539f;
}


.page {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}


.card {
    background-color: #ff9500;
    width: 700px;
    padding: 30px 40px;
    border: 5px solid black;
}


.card h1 {
    text-align: center;
    font-size: 48px;
    color: #00539f;
    text-shadow: 2px 2px 1px black;
    margin-bottom: 20px;
}


.logo {
    display: block;
    width: 200px;
    margin: 0 auto 20px auto;
}


.card p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}


.card ul {
    margin-left: 40px;
    margin-bottom: 15px;
}

.card li {
    margin-bottom: 5px;
}

.card a {
    color: #00539f;
    font-weight: bold;
    text-decoration: underline;
}
